package ${package.ServiceImpl};

import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import ${superServiceImplClassPackage};
import org.springframework.stereotype.Service;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.luke.common.web.model.PaginationModel;
/**
 * <p>
 * $!{table.comment} 服务实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Service
#if(${kotlin})
open class ${table.serviceImplName} : ${superServiceImplClass}<${table.mapperName}, ${entity}>(), ${table.serviceName} {
        }
#else
public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}>implements ${table.serviceName} {

    @Override
    public PaginationModel<${table.entityName}>findPage(${table.entityName} condition,Long page,Long size){
        IPage<${table.entityName}> pagination=new Page<>(page,size);
        QueryWrapper<${table.entityName}> wrapper=new QueryWrapper<>();
        wrapper.setEntity(condition);
        pagination=this.page(pagination,wrapper);
        PaginationModel<${table.entityName}> resultData=new PaginationModel<>(pagination);
        return resultData;
    }
}
#end